services:
  - type: mysql
    name: sistema_solges_2025
    region: oregon
    plan: free

  - type: redis
    name: mi-cache
    region: oregon

  - type: web
    name: mi-app
    region: oregon
    runtime: php
    plan: free
    
    buildCommand: |
      composer install --no-dev --optimize-autoloader
      npm install
      npm run build
      php artisan config:cache
      php artisan route:cache
      php artisan view:cache
      php artisan migrate --force
      
    startCommand: php artisan serve --host 0.0.0.0 --port ${PORT}
    
    envVars:
      - key: APP_URL
        value: ${RENDER_EXTERNAL_URL}
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false

      - key: DATABASE_URL
        fromService:
          type: mysql
          name: sistema_solges_2025
          property: connectionString
          
      - key: REDIS_HOST
        fromService:
          type: redis
          name: mi-cache
          property: host
      - key: REDIS_PORT
        fromService:
          type: redis
          name: mi-cache
          property: port
          
      - key: SESSION_DRIVER
        value: redis
      - key: CACHE_DRIVER
        value: redis